<div class="server-name">
  <h4>WELCOME BACK <%= @server.username %></h4>
</div>


  <%= button_to "LOG OUT", deletion_path, method: :delete, class: 'button' %>

  <%= button_to "CREATE CUSTOMER", new_customer_path, method: :get, class: 'button' %>
