<div class="server-name">
  <h4>WELCOME BACK <%= current_server.username %></h4>
</div>

<ul class="body-button">

  <li class="button"><%= link_to "LOG OUT", deletion_path, method: :delete %></li>

  <li class="button"><%= link_to "NEW ORDER", new_customer_path, method: :get %></li>

</ul>
