<div class="server-name">
  <h4>Welcome Back <%= @server.username %></h4>
</div>

<div class="server-body">
  <ul class="body-button">

    <li><%= button_to "LOG OUT", deletion_path, method: :delete, class: 'button' %></li>

    <li><%= button_to "CREATE CUSTOMER", new_customer_path, method: :get, class: 'button' %></li>

  </ul>
</div>

<h4>OPEN ORDERS</h4>
<p>List Open Orders Here</p>
<p>I need something here that will pull all the orders for this particular server by ID </p>

% @orders.each do |order| %

    <h4> %= link_to( order.???, order_path(order.id) ) % </h4>

    % end %

    <br>
    <hr>
