<div class="server-name">
  <h4>Welcome Back <%= @server.username %> </h4>
</div>

<h1>CUSTOMERS</h1>

<p>Insert funcitonality here to list all customers. </p>



<% @customers.each do |customer| %>

    <h4>Seat Number: <%= link_to( customer.seat_number, customer_path(customer.id) ) %></h4>

    <p>Table Number: <%= customer.table_number %></p>
    <p>Have They Paid? <%= customer.has_paid %></p>

    <!-- %= link_to "ADD FOOD", customer_orders_path(customer.id) %> |

    %= link_to "EDIT CUSTOMER", edit_customer_path(customer.id) %> -->

    <% end %>

<p>customer link is weird; customer table number is not actully grabbing anything; customer has paid is doing nothing.</p>



<h2>Add a Link To Edit Customers And A Link To Delete Customers</h2>

<h1>THIS SHOULD BE A LIST OF ALL CUSTOMERS WITH BUTTONS TO DELETE OR EDIT EACH</h1>
