<div class="server-name">
  <h4>Welcome Back %= current_server.username % </h4>
</div>

<h1>when the server clicks on an open order on the profile page, the order should populate here with the:
Server name, Table number, Seat number (the customer), what each seat number has ordered, whether each person has paid, and the price total </h1>
