<div class="server-name">
  <h4>Welcome Back %= @server.username % </h4>
</div>

<h1>THIS SHOULD BE AVAILABLE TO SERVERS - AND WHERE THEY PICK THE MENU ITEM FOR EACH CUSTOMER WANTS TO ORDER - I THINK </h1>

<h1>I don't know how to show this.</h1>

<h1>Currently, when you click on a menu item, instead of shooting to the individual item's index page, you are sent here. I need you to go to the individual item's page, so I can add a delete dish button. </h1>
